# #===== Azure Service Settings ======# #
APP_SERVICE_NAME=2dt-1st-team2-webapp
RESOURCE_GROUP_NAME=2dt-1st-team2
PLAN_NAME=ASP-2dt1stteam2webappgroup-8cf5

SQL_HOST=<YOURHOST>.postgres.database.azure.com
SQL_USER=<YOUR_SQL_USER>
SQL_PASSWORD=<YOUR_SQL_PASSWORD>
SQL_DATABASE=postgres

# Azure Managed Redis
REDIS_HOST=<YOUR_REDIS_HOST>.koreacentral.redis.azure.net
REDIS_PORT=10000
REDIS_PASSWORD=<YOUR_ACCESS_TOKEN>
